[is='block-wysiwyg'] {
  display: block;
  margin: 1.75rem 0 0;

  @media (min-width: $breakpoint-s) {
    margin-top: 2rem;
  }

  &:first-child {
    margin-top: 0;
  }

  .container {
    [is='layout-page'] & {
      margin: 0 auto;
      max-width: $global-container-width-l;
      padding: 0 $global-container-padding-s;
      width: 100%;

      @media (min-width: $breakpoint-s) {
        padding: 0 $global-container-padding-m;
      }

      @media (min-width: $breakpoint-xxl) {
        padding: 0 $global-container-padding-l;
      }
    }

    .company [is='layout-page'] & {
      max-width: $global-container-width-m;
    }
  }
}
